[Desktop Entry]
Name=Radio
Comment=SDR, ADS-B, AIS and Meshtastic radio apps
Exec=/usr/share/cardputer_radio/bin/radio-launch.sh
Icon=share/images/radio.png
Terminal=false
Type=Application
